{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
    <link href="{% static 'css/Error.css' %}" rel="stylesheet">
    <link rel="stylesheet" href=>
  </head>

  <body class="loading">
    <h1>Error</h1>
    <h2>오류가 발생했습니다.<b></b></h2>
    <div class="gears">
      <div class="gear one">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div class="gear two">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div class="gear three">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
        <h2>ID/PW를 정확히 입력하셨는지 확인해주세요</h2>
        <h3>관리자에게 문의하세요:rlaxodud214@naver.com <b></b></h3>
    </div>
<!--    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>-->
      <script>
      $(function() {
        setTimeout(function(){
          $('body').removeClass('loading');
        }, 1000);
      });
    </script>
  </body>

</html>