{% extends 'section.html' %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Traffic</h1>
      <p class="lead">교통정보입니다</p>
      <p class="lead">가장 가까운 역 : {{ location }}역</p>
{#      <p>{{ 월 }}</p>#}
{#      <p>{{ 화 }}</p>#}
{#      <p>{{ 수 }}</p>#}
{#      <p>{{ 목 }}</p>#}
{#      <p>{{ 금 }}</p>#}
        <p>{{ loc }}</p>
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">교통알리미</h6>
                            <div id="content">
                                <ul class="timeline">
                                    <li class="event" data-date="집">
                                        <h3>출발시간 : {{ data1 }}</h3>
                                        <p></p>
                                    </li>
                                    <li class="event" data-date="지하철">
                                        <h3>{{ location }}역에서 탑승 : {{ data2 }}</h3>
                                        <h3>정왕역에 하차 : {{ data4 }}</h3>
                                        <h3>(소요시간 : {{ data3 }}분)</h3>
                                    </li>
                                    <li class="event" data-date="셔틀버스">
                                        <h3>출발시간 : {{ data5 }}</h3>
                                    </li>
                                    <li class="event" data-date="학교">
                                        <h3>도착시간 : {{ data6 }}</h3>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
            <script src="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <script type="text/javascript"></script>
        </div>
    </div>
{% endblock %}